*{
    box-sizing: border-box;
    background: #E5E5E5;
}
.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}
.body{
    /*position: relative;*/
    width: 100%;
    height: 844px;
    background: #FFFFFF;
    border: 1px blue;
    left: 100px;
    margin: 0 auto;
    top: 50px;

}
.p-text{
    /*position: absolute;*/
    padding-top: 2px;
    background: blue;
}
.header{
    /* Хедер */

    width: 100%;
    height: 89px;
    left: 0px;
    top: 0px;


}
.header__text-header{
    /* Адресная книга */
    /*width: 403px;*/
    /*height: 63px;*/
    padding-left: 29px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 63px;

    color: #FFFFFF;

}
.header__text-header_background {
    /* Rectangle 1 */
    width: 100%;
    height: 89px;
    background: #590BFF;

}
.main {
    position: relative;
    background-color: white;
    display: flex;
    width: 100%;

}
.main-border{
    border-color: #590BFF; /* Цвет границы */
    border-style: solid; /* Стиль границы */
    padding: 5px; /* Поля вокруг текста */
}
.content__text-content{
    /* A  and Б */
    position: absolute;
    width: 50%;
    height: 33px;
    padding-left: 13px;
    padding-top: 4px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */


    color: #FFFFFF;

}
.position-text{

    padding-top: 5px;
    width: auto;
    left: 13px;
    padding-bottom: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;

    color: #000000;

}
.content{

    position: absolute;
    top: calc(144/1440 *100%);
    width: 70%;
    height:450px;
    right: 0px;

    background: #E5E5E5;
    border: 1px solid #C1C1C1; /* размер и цвет границы блока */
    overflow-x: hidden; /* свойство для прокрутки по горизонтали.*/
}


.content__text-content_background{
    /* Rectangle 4 */

    position: sticky;
    width: 100%;
    height: 41px;
    left: 0px;
    top: 0px;

    background: #590BFF;
}


.sidebar{
    /* Сайдбар */
    top: 236px;
    /*padding-right: 200px;*/
    width: 29%;
    height: 500px;
    padding: 20px;
    left: 335px;
}
.Rectangle2{
    /* Rectangle 2 */

    width: 2px;
    left: 25%;
    height: 451px;
    background: #C4C4C4;
    padding-top: 200px;
    margin-top: 20px;
}
.sidebar__text-sidebar-1{
    /* Полезные ссылки */
    position: relative;
    width: 100%;
    height: 33px;
    left: 20px;
    top: 15px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */
    /*overflow: visible;*/

    color: #000000;


}
.sidebar__text-sidebar-2{
    /* Поисковик Google */


    position: relative;
    width: 20%;
    height: 28px;
    left: 20px;
    top: 41px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration-line: underline;

    color: #FF710B;
}
.sidebar__text-sidebar-3{
    /* Поисковик Google */


    position: relative;
    width: 20%;
    height: 28px;
    left: 20px;
    top: 70px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration-line: underline;

    color: #FF710B;
}
.sidebar__text-sidebar-4{
    /* Поисковик Google */


    position: relative;
    width: 20%;
    height: 28px;
    left: 20px;
    top: 95px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration-line: underline;

    color: #FF710B;
}


@media  screen and (max-width: 759px) {
    .sidebar__text-sidebar-1{
        font-size: 22px;

    }
    .header__text-header{
        /* Адресная книга */
        font-size: 44px;
    }
    .sidebar__text-sidebar-2{

        font-size: 17px;
    }
    .sidebar__text-sidebar-3{

        font-size: 17px;
    }
    .sidebar__text-sidebar-4{
        font-size: 17px;
    }
    .content__text-content{
        /* A  and Б */
        font-size: 17px;
    }
    .position-text{
        font-size: 17px;
    }

}

